<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Multas de Trânsito</title>

    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<aside>
    <h1>Multas de Trânsito</h1>

    <form action="/status" method="GET">
        <div>
            <label for="vehiclePlate">Placa do Veículo:</label>
            <input type="text" id="vehiclePlate" required pattern="\w{3}-\d{4}" placeholder="AAA-9999">
        </div>
        <input type="submit" value="Consultar">
    </form>

    <section>
        <h2 id="vehiclePlate">HJT-6924</h2>
        <p>Inflação: <%= veiculo.vehiclePlate %></p>
        <p>Pontos: <span id="points">7</span></p>
        <p>Valor: R$ <span id="value">880.41</span></p>
        <p>Valor c/ desconto: R$ <span id="discountValue">793.32</span></p>
    </section>
</aside>

</body>
</html>