<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Multas de Trânsito</title>

    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<aside>
    <h1>Multas de Trânsito</h1>

    <form action="/consult" method="get">
        <div>
            <label for="vehiclePlate">Fuçei até estragar o Front-End, agora não funciona mais, deixa a segunda questão fora, não farei mais, 
                fiz ele funcionar pra ganhar os 70 pontos da primeira questão só:</label>
                <p>Digita node findPlate.js HJT-0001 que ta funcionando perfeito</p>
                <p>até quando se coloca node findPlate.js HJT-0000 ele funciona normal mesmo com o desconto</p>
            <input type="text" name="vehiclePlate" required pattern="\w{3}-\d{4}" placeholder="node findPlate.js HJT-0001">
        </div>
        <input type="submit" value="Consultar">
    </form>

    
    </section>
</aside>

</body>
</html>